<?xml version="1.0"?>
<launch>
  <!-- <rosparam command="load" file="$(find beb)/src/bebop2.yaml" />  -->
  <arg name="frame" default = "umar_test1"/>
  <arg name="worldFrame" default="world"/>
  <arg name="radius" default="0.3"/>
  <arg name="trajectory" default="circle"/>
  <arg name="delay" default="0.15"/>
  <arg name="Prediction" default="GP_Frame"/>

  <!--
 
     <node name="PlotOperations" pkg="beb" type="PlotOps.py" output="screen">
    </node> 
       
   <node name="TrainOps" pkg="beb" type="TrainingOps.py" output="screen">
    </node> 



    
    <node name="GP_Predicter" pkg="beb" type="GPfilt.py" output="screen">
    </node> 
      
    <node name="SendPrediction" pkg="beb" type="Prediction_Pub.py" output="screen">
    <param name="worldFrame" value="$(arg worldFrame)" />
    <param name="Prediction" value="$(arg Prediction)" />
    </node>

    <node name="DelayPlot" pkg="beb" type="DelayPlot.py" output="screen">
    <param name="worldFrame" value="$(arg worldFrame)" />
    <param name="delay" value="$(arg delay)" />
    <param name="frame" value="$(arg frame)" />
    </node> 

  


    <node name="fixed_tf_broadcaster" pkg="beb" type="PredictionBroadcast.py" output="screen">
    <param name="frame" value="$(arg frame)" />
    <param name="worldFrame" value="$(arg worldFrame)" />
    <param name="Prediction" value="$(arg Prediction)" />
    </node>

    <node name="random_bebop_commands" pkg="beb" type="beb" output="screen">
    <param name="frame" value="$(arg frame)" />
    <param name="worldFrame" value="$(arg worldFrame)" />
    <param name="delay" value="$(arg delay)" />
    <param name="Prediction" value="$(arg Prediction)" />
    <rosparam command="load" file="$(find beb)/src/bebop2.yaml" />
    </node>
  
    <node name="talker" pkg="beb" type="MPC.py" output="screen">
    <param name="radius" value="$(arg radius)" />
    </node>

    <node name="plotter" pkg="beb" type="plotter.py" output="screen">
      <param name="frame" value="$(arg frame)" />
      <param name="worldFrame" value="$(arg worldFrame)" />
      <param name="Prediction" value="$(arg Prediction)" />
    </node>

    <node name="Optimizer" pkg="beb" type="Optimizer.py" output="screen">
      <param name="radius" value="$(arg radius)" />
      <param name="frame" value="$(arg frame)" />
      <param name="delay" value="$(arg delay)" />
      <param name="worldFrame" value="$(arg worldFrame)" />
      <param name="Prediction" value="$(arg Prediction)" />
    </node>
   
      
    <node name="BagOperations" pkg="beb" type="BagOps.py" output="screen">
      <param name="frame" value="$(arg frame)" />
      <param name="radius" value="$(arg radius)" />
      <param name="trajectory" value="$(arg trajectory)" />
      <param name="delay" value="$(arg delay)" />
      <param name="worldFrame" value="$(arg worldFrame)" />
      <param name="Prediction" value="$(arg Prediction)" />
    </node>
  




     <include file="$(find qualisys)/launch/qualisys.launch">
     </include>

    <include file="$(find qualisys)/launch/qualisys_odom.launch">
        <arg name="model" default="$(arg frame)"/>
        <arg name="output" default="screen"/>
    </include>

    -->

     
  
  <node name="GP_Predicter" pkg="beb" type="GPfiltObserver.py" output="screen">
    </node> 

</launch>